* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);
  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);
}
html {
  font-size: 16px;
}
body {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
header,
main {
  max-width: 90em;
}
.navbar,
section:not(.comment-section),
.footer-top,
.footer-bottom {
  padding: 1.6em 1.3em;
  max-width: 62.5em;
  margin: auto;
}
a {
  text-decoration: none; 
}
ul {
  list-style: none;
}
p {
  font-size: .8rem;
  color: var(--Dark-Grayish-Blue);
  line-height: 1.7;
  font-weight: 500;
}
main {
  position: relative;
  overflow: hidden;
}
.bg-1,
.bg-2 {
  width: 36rem;
  position: absolute;
  z-index: -2;
}
.bg-1 {
  top: 40%;
  left: -10%;
}
.bg-2 {
  right: -8%;
  top: -8%;
}
/* header style */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999 !important;
  transition: .5s ease-out;
}
header.active {
  background: rgba(255,255,255,.6);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo img,
.footer-logo img{
  width: 7.4rem;
}
.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  font-size: .75rem;
  color: var(--Dark-Blue);
  font-weight: 500;
}
.nav-link:hover {
  color: var(--Dark-Grayish-Blue);
}
.btn-ctc {
  font-size: .75rem;
  color: var(--Vary-Light-Gray);
  display: inline-block;
  font-weight: 500;
  padding: .88em 1.75em;
  border-radius: 1.7em;
  background: var(--Bright-Red);
  box-shadow: 0 .2em .8em .2em hsl(12, 33%, 69%);
  transition: all .2s;
}
.btn-ctc:not(.btn-ctc:last-child):hover {
  background: hsl(12, 88%, 70%);
}
.btn-ctc:active {
  transform: scale(.92);
}
.hamburger {
  display: none;
}
/* intro style */
.intro-section {
  min-height: 32em;
  padding-top: 6em !important;
  display: flex;
}
.intro-txt {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 8%;
  flex-direction: column;
}
.intro-txt h1 {
  width: 80%;
  font-size: 2.125rem;
  color: var(--Dark-Blue);
  font-weight: 700;
  line-height: 1.2;
}
.intro-txt p,
.main-info p {
  width: 60%;
  margin: 1.25em 0;
}
.intro-img {
  flex: 1;
}
.intro-img img {
  width: 100%;
}
/* informatoon style */
.info-section {
  display: flex;
}
.main-info {
  flex: 1;
}
.main-info h2 {
  color: var(--Dark-Blue);
  font-size: 1.75rem;
}
.child-info {
  flex: 1;
}
.child-info h3 {
  font-weight: 700;
  font-size: .86rem;
  padding: .6em 0;
  color: var(--Dark-Blue);
  border-radius: 2em 0 0 2em;
}
.child-info .number {
  color: white;
  font-size: .86rem;
  margin-right: 1em;
  padding: .48em 1.5em;
  border-radius: 2em;
  background: var(--Bright-Red);
}
.child-info p {
  margin: .6em 0 2.4em 5em;
}
/* comment style */
.comment-section {
  padding: 1.6em 0 5em 0;
  text-align: center;
}
.card-cont {
  display: flex;
  align-items: flex-end;
  min-height: 14.75em;
  margin: 2em 0;
  overflow: auto;
}
.card {
  min-width: 18.85em;
  height: 12em;
  position: relative;
  margin: 0 .75em;
  padding: 2.6em 1em;
  text-align: center;
  background: var(--Vary-Light-Gray);
  z-index: 1;
  transition: .3s;
}
.card:first-child {
  margin-left: 0;
}
.avatar {
  width: 4em !important;
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  
  z-index: 2;
}
.name {
  font-size: .84rem !important;
  color: var(--Dark-Blue) !important;
  font-weight: 700;
  margin: 1em;
}
.circle-btn-contain {
  display: flex;
  margin: auto;
  display: none;
}
.circle-btn {
  width: .8rem;
  height: .8rem;
  border: .1rem solid var(--Bright-Red);
  border-radius: .4rem;
  margin: 0 .8rem;
}
.circle-btn.active {
  background: var(--Bright-Red);
}
/* footer style */
.footer-top {
  width: 80%;
}
 .footer-top,
 .footer-bottom {
  padding: 0 1.3em;
}
.footer-top-contain {
  position: relative;
  background: var(--Bright-Red);
}
.footer-top-contain::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
  background: url(img/bg-simplify-section-desktop.svg);
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  padding-top: 1.85em;
  padding-bottom: 1.85em;
}
.footer-top h4 {
  width: 12em;
  color: white;
  font-size: 1.75rem;
  margin-bottom: .8em;
}
footer .btn-ctc {
  background: white;
  width: max-content;
  height: max-content;
  color: var(--Bright-Red);
}
.footer-bottom-contain {
  background: var(--Very-Dark-Blue);
  
}
.footer-bottom {
  gap: 5.4em;
  display: flex;
  justify-content: space-between;
  padding-top: 3em;
  padding-bottom: 3em;
}
.footer-bottom :is(.logo-and-social-link, .inbox) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.social-links {
  display: flex;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links ul {
  text-align: start;
  line-height: 1.8;
}
.social-links i {
  color: white;
  font-size: 1rem;
}
.footer-links {
  display: flex;
}
.footer-bottom :is(p:not(.copyright-txt), a) {
  font-size: .8rem;
  color: var(--Dark-Grayish-Blue);
}
.social-links i:hover,
.links-left a:hover,
.links-right a:hover {
  color: var(--Bright-Red) !important;
}
.form-inbox {
  display: flex;
  position: relative;
}
.form-inbox input {
  max-width: 15em;
  border: none;
  outline: none;
  font-size: .86rem;
  border-radius: 2em;
  padding: .48em 1.5em;
  color: var(--Dark-Grayish-Blue);
}
.form-inbox input:placeholder {
  font-size: .86rem;
  color: var(--Dark-Grayish-Blue);
}
.form-inbox input.active {
  color: var(--Bright-Red);
  border: .0225rem solid var(--Bright-Red);
}
.error-txt {
  color: var(--Bright-Red) !important;
  font-size: .6rem;
  position: absolute;
  left: 3%;
  bottom: -90%;
  font-style: italic;
  opacity: 0;
}
.error-txt.active {
  opacity: 1;
}
.form-inbox button {
  color: white;
  border: none;
  outline: none;
  font-size: .86rem;
  margin-left: .8em;
  padding: .48em 1.5em;
  border-radius: 2em;
  background: var(--Bright-Red);
}
.footer-bottom :is(.logo-and-social-link, .footer-links, .inbox) {
  flex: 1;
}
.footer-bottom a:hover {
  color: var(--Vary-Light-Gray);
}
.copyright-txt {
  width: 100%;
  font-size: .68rem;
  color: var(--Dark-Grayish-Blue);
}
.attribution {
  margin: auto;
  text-align: center;
  font-size: .6rem;
  color: var(--Dark-Grayish-Blue);
  background: var(--Very-Dark-Blue);
}
/* responsibilities style */
@media (max-width: 764px) {
  html {
    font-size: 18px;
  }
  body.active {
    overflow: hidden;
  }
  main:before {
    content: "";
    position: fixed;
    inset: 0;
    opacity: 0;
    z-index: 9;
    transition: .3s;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(0,0,0,.6));
  }
  main.active::before {
    opacity: 1;
    pointer-events: all;
  }
  .nav-links {
    width: 18em;
    height: 14em;
    position: fixed;
    top: 6rem;
    left: 50%;
    padding: .6em 0;
    border-radius: .4em;
    transform: translateX(-50%);
    justify-content: space-evenly;
    flex-direction: column;
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-in-out;
  }
  .nav-links.fadeup {
    opacity: 1;
    pointer-events: all;
  }
  .nav-link {
    display: inline-block;
    font-weight: 700;
  }
  .navbar .btn-ctc {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .intro-section {
    flex-direction: column-reverse;
  }
  .intro-txt {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .intro-txt h1 {
    width: 100%;
  }
  .intro-txt p {
    width: 100%;
  }
  .info-section {
    padding: 0 0 0 .8em !important;
    flex-direction: column;
  }
  .main-info {
    text-align: center;
  }
  .main-info p {
    width: 100%;
  }
  .child-info h3 {
    background: var(--Very-Pale-Red);
  }
  .child-info p {
    margin-left: 0;
    margin-right: .8em;
  }
  .comment-section {
    padding: 2em .8em;
  }
  .circle-btn-contain {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .card {
    width: 100vw;
  }
  .footer-top {
    text-align: center;
    padding-top: 4.6em;
    padding-bottom: 4.6em;
    flex-direction: column;
  }
  .footer-top-contain::before {
    background: url(img/bg-simplify-section-mobile.svg);
    background-position: left !important;
  }
  .footer-top h4 {
    width: 8em;
    font-size: 2rem;
  }
  .footer-bottom {
    gap: 2em;
    text-align: center;
    position: relative;
    flex-direction: column-reverse;
  }
  .logo-and-social-link {
    display: flex;
    flex-direction: column-reverse !important;
    padding-bottom: .8em;
  }
  .social-links {
    padding: 2em 1.8em;
  }
  .social-links i {
    font-size: 2.2rem;
  }
  .copyright-txt {
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
  }
}